html, body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}
.container{
  max-width: 960px;
}
.row{
  padding: 0;
  // margin: 0;
}
h1, h2{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
p, a{
  font-family: 'PT Sans', sans-serif;
}
@media (max-width: 569px) {
  h1{
    font-size: 26px !important;
  }
  h2{
    font-size: 24px !important;
  }
  p{
    font-size: 14px !important;
  }
}
$text-color: #010101;
